/*
 * Empty Stylesheet file.
 */

.left{
    -fx-background-color: linear-gradient(to bottom left,#6F4CBB,#431FA0);
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}
.img {
       

}





